<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alibaba.android.arouter.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/bg_list_item"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        android:usesCleartextTraffic="true">

        <!--Launch-->
        <activity
            android:name=".LaunchDispatchActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <!--Default-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="${routerScheme}" />
            </intent-filter>
            <!-- App Links -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${routerHost}"
                    android:scheme="http" />
                <data
                    android:host="${routerHost}"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <!--Splash-->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <!--Main-->
        <activity
            android:name=".MainViewPager2Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".MainFrameLayoutActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".DetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".AccountActivity"
            android:launchMode="singleTop" />

        <meta-data
            android:name="routerScheme"
            android:value="${routerScheme}" />

        <meta-data
            android:name="routerHost"
            android:value="${routerHost}" />

    </application>

</manifest>